<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!--    <link rel="stylesheet" href="/css/preloader.css" />-->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/queries.css" />
    <link rel="icon" href="../public/img/head_icon.jpg" />
    <script defer src="test.js"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
            rel="stylesheet"
    />
    <title>CheckItOff</title>
</head>