<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
<script>
    if (window.performance && window.performance.getEntriesByType('navigation')[0].type === 'reload') {
        window.location.href = '/register';
    }
</script>
<main>
    <section class="section--welcome">
        <img src="/img/welcome_register.png" class="image-welcome">
        <h1 class='copyright'>©Vadym & Alina</h1>
    </section>

    <div class="welcome">
    <section class="section--register">
        <img src="/img/logo_main.png" class="logo-main" />
        <h2 class="label">CheckItOff: Your personal productivity partner!</h2>

        <form action="/auth/register" method="post" class="register__form">
            <input
                    type="text"
                    name="username"
                    class="input-field register-login"
                    placeholder="Username"
            />
            <input
                    type="email"
                    name="email"
                    class="input-field register-email"
                    placeholder="Email"
            />


            <input
                    type="password"
                    name="password"
                    class="input-field register-password"
                    placeholder="Password"
            />

            <input
                    type="password"
                    name="confirm_password"
                    class="input-field register-password"
                    placeholder="Confirm password"
            />
            {{#if msg}}
                <p class="{{msg_type}}">{{msg}}</p>
            {{/if}}
            <button class="btn btn--register">Register</button>
        </form>
        <h3 class="btn-sign-back"><a href="/">Go back</a></h3>
    </section>
    </div>
</main>
</body>
</html>
