@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%; /* 16 by default(now 10)*/
    /*box-sizing: border-box;*/
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
}

main {
    display: flex;
}

.section--welcome {
    /*position: relative;*/
    width: 75%;
    height: 100vh;
    background-color: #62629b;
}

.section--login,
.section--register {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 85rem;
    height: 100vh;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#label--welcome {
    text-align: center;
}

.label {
    font-size: 2.3rem;
}

.login__form {
    display: table;
    margin: 10%;
    padding: 2rem 18.5rem;
}

.input-field {
    margin-bottom: 10%;
    width: 30rem;
    height: 4vh;
    background: transparent;
    border-width: 0 0 0.3vh 0;
}

#login::placeholder,
#password::placeholder {
    font-size: 2rem;
}

input {
    font-size: 2rem;
}

.register__form {
    display: table;
    margin: 10%;
    padding: 2rem 20rem;
}

.btn-sign-back {
    font-size: 2.3rem;
    padding: 11rem 11rem;
}

.btn {
    width: 31rem;
    height: 3.8rem;
    border: none;
    background: #3fc0c8;
    cursor: pointer;
    /*margin: 2%;*/
    font-size: 2rem;
    border-radius: 15px;
}
.btn:hover {
    opacity: 0.8;
}

.logo-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    height: 30vh;
    pointer-events: none;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 200%;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}
